apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy-deployment
  labels:
    app: proxy
spec:
  replicas: 3
  selector:
    matchLabels:
      app: proxy
  template:
    metadata:
      labels:
        app: proxy
    spec:
      containers:
      - name: proxy
        image: localhost/proxy:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: name
          value: value
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: proxy-gw
spec:
  gatewayClassName: nginx
  listeners:
  - protocol: HTTP
    port: 80
    name: http
    allowedRoutes:
      namespaces:
        from: All
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxy-http
spec:
  parentRefs:
  - name: proxy-gw
  rules:
  - backendRefs:
    - name: proxy-service
      port: 9000 
